.App {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color:lavenderblush;
}


.App main {
  overflow: auto;
}
.temp-images {
  height: 200px;
}


* {
  font-family: 'CodeNewRomanRegular';
}