.CreatureSearch {

  padding: 10px 20px;
  margin-bottom: 1em;
  margin-left: 1.2em;
  margin-right: 2em;
  background: mistyrose;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}